/* Thinkful Tube */

.search-area {
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: #87bdd8;
}

.results-area {

}

button {
	background-color: #e7e7e7;
	color: black;
	border-radius: 5px;
	height: 23px;
	width: 75px;
}

.result-box {
	width: 90%;
 	height: 100px;
 	position: relative;
 	background-color: #b2b2b2;
	box-shadow: 5px 5px 2px #888888;
}

h2, .js-search-results {
	margin-left: 20px;
}

.js-result-thumbnail {
	height: 90px;
	display: inline-block;
	padding-top: 5px;
	padding-left: 5px;
}

.result-title {
	position: absolute;
	display: inline-block;
	margin-left: 20px;
	padding-top: 25px;
}